<div class="create-employee-container card col-8">
    <form>
      <h3>Editar juego</h3>
      <label for="firstName"> Nombre
        <input id="firstName"  type="text" placeholder="Ingrese el nombre">
      </label>
      <label for="lastName"> Genero
        <input id="lastName"  type="text" placeholder="Ingrese el apellido">
      </label>
      <label for="country"> Descripción corta
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Descripción larga
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Poster
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Background
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Destacar el juego
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <h3>Requisitos</h3>
      <label for="country"> CPU
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Memoria
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="country"> Almacenamiento
        <input id="country"  type="text" placeholder="Ingrese el pais">
      </label>
      <label for="salary"> Precio
        <input id="salary"  type="number" placeholder="Ingrese el salario">
      </label>
    </form>
  
    <ng-content select="[boton]"></ng-content>
  
    <!-- <button class="col-2" type="submit">Guardar empleado</button> -->
  </div>
  