<header>
    <nav class="navbar bg-body-tertiary">
        <div class="navbar-elements container-fluid">
          <a  class="navbar-brand">
            <img src="./../../../../assets/img/esTimLogo.png" alt="Logo EsTim" width="30" height="30" class="d-inline-block align-text-top">
            EsTim
          </a>
          <ul class="navbar-links">
            <li>
                <a href="#games-list">Juegos</a>
            </li>
        </ul>
        </div>
       
      </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="footer navbar bg-body-tertiary">
        <a href="#header">↑ Volver arriba ↑</a>
    </div>
</footer>