<div class="full_container">
    <div class="games_container">
        <div *ngIf="gamesArray.length === 0; else listadoDeJuegos" class="no_games_msj">
            <span>No hay juegos publicados!</span>
        </div>

        <ng-template #listadoDeJuegos>
            <div  [routerLink] = "[game.id]" class="game_container"  *ngFor = "let game of gamesArray" appHighlightItem >
                <div class="img_container">
                    <img src="{{game.poster}}" alt=""> 
                    <div class="genero-container">
                        <span>{{game.genero}}</span>
                    </div>
                </div>
                <div class="game_info">
                    <h3>{{game.nombre}}</h3>
                    <div>
                        <span>{{game.descripcion_corta}}</span>
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                        <h4 class="precio">${{game.precio}}</h4>
                    </div>
                </div>          
                
            </div>
        </ng-template>
        
    </div>
</div>