<div class="full_container">
    <div class="games_container">
        <div *ngIf="games.length === 0; else listadoDeJuegos" class="no_games_msj">
            <span>No hay juegos publicados!</span>
        </div>

        <ng-template #listadoDeJuegos>
            <div class="game_container"  *ngFor = "let game of games" appHighlightItem >
                <div class="img_container">
                    <img src="{{game.poster}}" alt=""> 
                    <div class="genero_container">
                        <span>{{game.genero}}</span>
                    </div>
                </div>
                <div class="game_info">
                    <h3>{{game.nombre}}</h3>
                 
                    <div class="requisitos_title">
                        <span>REQUISITOS DEL SISTEMA</span>
                    </div>
                    <div class="requisitos_container">
                        <div>
                            <span class="item_name">Procesador:</span> {{game.requisitos["requerimientos_CPU"]}}
                        </div>
                        <div>
                            <span class="item_name">Memoria:</span> {{game.requisitos["memoria"]}}
                        </div>
                        <div>
                            <span class="item_name">Almacenamiento:</span> {{game.requisitos["almacenamiento"]}}
                        </div>
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                        <h4 class="precio">${{game.precio}}</h4>
                    </div>
                </div>          
                
            </div>
        </ng-template>
        
    </div>
</div>