<div class="game-description">
    <div class="game-poster">
        <img src="{{game?.background}}" alt="">
    </div>

    <button routerLink="/games">Volver a la lista</button>

    <div class="game-info-container">
        <div class="game-title-container">
            {{game?.nombre}}
        </div>
        <div class="game-data-container">
            {{game?.genero}}
            {{game?.precio}}
        </div>
    </div>
    
    <!-- <button routerLink="/games/{{game?.id}}/modificar">Editar Juego</button> -->
</div>